<!doctype html>
<html class="no-js">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>WebDril - Best way how to learn not only English vocabulary</title>
    <meta name="description" content="The WebDril application is the best and fastest way how to extend your English, German, vocabulary!">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="favicon.png">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">
    <link rel="image_src" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen-sprite.png">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/pjToast/pjToast.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/animations.css">
    <!-- endbuild -->
  </head>
  <body ng-app="webdrilApp">
  <!--[if lt IE 10]>
      <p class="browsehappy text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


    <div class="header" ng-controller="HeaderCtrl">
      <nav class="navbar navbar-default dril-dark-bg">
        <div class="container-fluid dril-wrapp">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navi" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand dril-logo" href="/">
              <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
              <span>WebDril</span>
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navi" >
            <ul class="nav navbar-nav navbar-right">
              <li ng-class="{active : isActive('/dril')}">
                <a href="/dril">
                  <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                  {{'START' | translate }}
                </a>
              </li>

              <li ng-class="{active : isActive('/books')}">
                <a href="/books">
                  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                  {{'ST' | translate }}
                </a>
              </li>
              <li ng-if="user" ng-class="{active : isActive('/manage/books')}">
                <a href="/manage/books">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                  {{'MY_DRIL' | translate }}
                </a>
              </li>
              <li ng-if="user" ng-class="{active : isActive('/manage/settings')}">
                <a href="/manage/settings">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                  Settings
                </a>
              </li>
              <li ng-if="user">
                <a ng-click="logout()" href="#">{{'LOGOUT' | translate}}</a>
              </li>
              <li ng-if="!user" ng-class="{active : isActive('/login')}">
                <a href="/login">{{'LOGIN' | translate}}</a>
              </li>
              <li class="locale">
                <pj-locale></pj-locale>
              </li>
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="dril-border"></div>
      <div ng-class="{'container dril-wrapp pj-content' : !homePage}"  ng-view>
      </div>

      <footer class="footer">
        <div class="container dril-wrapp">
          <ul class="pj-nav-footer">
            <li><a class="pj-contact">{{'CONTACT' | translate}}</a></li>
            <li><a class="pj-contact">{{'REPORT_ISSUE' | translate}}</a></li>
          </ul>
          <p>
              <a href="http://www.drilapp.com" target="_blank"><strong>WebDril</strong></a> by
              <a href="http://www.peterjurkovic.com" target="_blank">Peter Jurkovic</a>
          </p>


          <span class="pj-ver">Version: 1.0.9 beta</span>
          <ul class="pj-social">
            <li><a class="gplay" target="_blank" href="https://play.google.com/store/apps/details?id=sk.peterjurkovic.dril">EN</a></li>
            <li><a class="gplay" target="_blank" href="https://play.google.com/store/apps/details?id=sk.peterjurkovic.dril.de">DE</a></li>
            <li><a class="fb" target="_blank" href="https://www.facebook.com/drilAnglictinaEfektivne">Page</a></li>
          </ul>
        </div>

      </footer>

    <toast></toast>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>

   <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/pjToast/pjToast.js"></script>
    <script src="bower_components/stacktrace-js/stacktrace.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/bootstrap/ui-bootstrap-custom-0.13.0.min.js"></script>
    <script src="scripts/bootstrap/ui-bootstrap-custom-tpls-0.13.0.min.js"></script>
    <script src="scripts/bootstrap/fm.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/constants.js"></script>
    <script src="scripts/services/DrilStorage.js"></script>
    <script src="scripts/services/DrilService.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/dril.js"></script>
    <script src="scripts/controllers/userlecture.js"></script>
    <script src="scripts/controllers/userword.js"></script>
    <script src="scripts/controllers/createBook.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/ForgottenPass.js"></script>
    <script src="scripts/directives/chosen.js"></script>
    <script src="scripts/directives/slide-animation.js"></script>
    <script src="scripts/directives/common.js"></script>
    <script src="scripts/services/LocaleService.js"></script>
    <script src="scripts/services/AuthTokenFactory.js"></script>
    <script src="scripts/services/UserFactory.js"></script>
    <script src="scripts/services/HttpInterceptor.js"></script>
    <script src="scripts/services/DrilAPI.js"></script>
    <script src="scripts/services/DrilStrategy.js"></script>
    <script src="scripts/services/Similarity.js"></script>
    <script src="scripts/services/errors.js"></script>
    <script src="scripts/filters/filters.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/publicbook.js"></script>
    <script src="scripts/controllers/publiclecture.js"></script>
    <script src="scripts/controllers/publicword.js"></script>
    <script src="scripts/controllers/userbook.js"></script>
    <script src="scripts/controllers/singup.js"></script>
    <script src="scripts/controllers/modals.js"></script>
    <script src="scripts/pjTts.js"></script>
    <!-- endbuild -->
    <script src="scripts/config.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-63124412-1', 'auto');
  </script>
  </body>
</html>
