<div class="modal-header">
  <h4 class="modal-title" translate="M2_CONTACT"></h4>
</div>
<div class="modal-body">
  <form name="contact" novalidate>

    <div ng-if="!user" class="form-group" ng-class="{'has-error' : contact.name.$touched && contact.name.$invalid }">
      <label>{{'NAME' | translate}}:</label>
      <input
        class="form-control"
        name="name"
        id="name"
        type="text"
        ng-model="report.name" />
    </div>

    <div ng-if="!user" class="form-group" ng-class="{'has-error' : contact.email.$touched && contact.email.$invalid }">
      <label>{{'EMAIL' | translate}}:</label>
      <input
        class="form-control"
        name="email"
        type="email"
        id="email"
        required
        ng-model="report.email" />
      <div class="text-danger bg-danger"  ng-if="contact.email.$touched && contact.email.$invalid">
        {{'ERR_EMAIL' | translate}}
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error' : contact.message.$touched && contact.message.$invalid }">
      <label>Your message:</label>
       <textarea
         class="form-control"
         name="message"
         id="message"
         ng-minlength="5"
         required
         ng-model="report.message"></textarea>
    </div>
    <div class="text-danger bg-danger"  ng-if="contact.message.$touched && contact.message.$invalid">
      {{'ERR_MSG' | translate}}
    </div>

  </form>
</div>
<div class="modal-footer">
  <span ng-if="pending" class="pj-loader">Saving..</span>
  <button translate="SEND" class="btn btn-primary" ng-click="save(contact.$valid)"></button>
  <button translate="CANCEL" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
