
<div class="row" ng-if="currentWord">
  <h3 class="dril hidden-xs">Dril</h3>
  <div slide-animation class="ng-cloak span6 content-box animated bounceInLeft">

    <div class="row span3 meta-info-box">
      <div class="col-xs-3">
        <span class="hidden-sm hidden-xs">{{'ACTIVATED_WORDS'| translate}}:</span>
        <span class="visible-sm-inline visible-xs-inline">{{'ACTIVATED' | translate}}:</span>
        <strong>{{getCountOfActivated()}}</strong>
      </div>
      <div class="col-xs-3">
        <span class="hidden-sm hidden-xs">{{'LEARNED_CARDS'| translate}}:</span>
        <span class="visible-sm-inline visible-xs-inline">{{'LEARNED'| translate}}:</span>
        <strong>{{stats.learned}}</strong>
      </div>
      <div class="col-xs-3">
        <span class="hidden-sm hidden-xs">{{'CARD_SHOWN'| translate}}:</span>
        <span class="visible-sm-inline visible-xs-inline">{{'SHOWN'| translate}}:</span>
        <strong>{{currentWord.viewed}}x</strong>
      </div>
      <div class="col-xs-3">
        <span>{{'HITS' | translate}}:</span>
        <strong>{{stats.hits}}x</strong>
      </div>
    </div>

      <div class="question-wrapp box">
          <div class="well">
            <tts tts-text="{{currentWord.question}}" tts-lang="{{currentWord.langQuestion}}"></tts>
            {{currentWord.question}}
            <button ng-if="user" class="btn btn-default" ng-click="edit()">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
      </div>

      <div class="input-wrapp">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">{{'ANSWER' | translate}}:</span>
          <input type="text"
                 class="form-control pj-focus"
                 placeholder="{{'WRITE_ANSWER' | translate}}"
                 ng-model="userAnswer.value"
                 pj-similarity
                 ng-enter="showAnswer()"
                 ng-model-options="{debounce : 500}"
                 aria-describedby="sizing-addon1">
          <div class="pj-similarity level-{{level}}">
            <span class="glyphicon"
                  ng-class="{'glyphicon-thumbs-up':(level < 2),'glyphicon-thumbs-down':(level > 7), 'glyphicon-minus':(level > 1 && level < 8)}"></span>          </div>
        </div>
      </div>

      <div class="wrapp">

        <div class="answer-wrapp box" ng-show="isAnswerShown">
          <div class="well">
            {{currentWord.answer}}
            <tts tts-text="{{currentWord.answer}}" tts-lang="{{currentWord.langAnswer}}"></tts>
          </div>
        </div>

        <button  class="btn get-answer-btn btn-primary" ng-hide="isAnswerShown" ng-click="showAnswer()">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          {{'GET_ANSWER' | translate}}
        </button>

        <div
          class="row button-group dril-buttons"
          ng-show="isAnswerShown">
          <div class="col-xs-4">
              <button  class="btn btn-success" ng-click="rateWord(RATING.KNOW)" >
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span class="hidden-xs">{{'KNOW' | translate}}</span>
              </button>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-warning" ng-click="rateWord(RATING.NOT_YET)">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              <span class="hidden-xs">{{'NOT_YET' | translate}}</span>
            </button>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-danger" ng-click="rateWord(RATING.DO_NOT_KNOW)">
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
              <span class="hidden-xs">{{'DO_NOT_KNOW' | translate}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

</div>
<div class="text-center ng-cloak"  ng-if="isFinshed()">
  <h2>Great!</h2>
  <div class="pj-dril-result">
    <span class="glyphicon glyphicon-ok"></span>
    <p class="pj-text" translate="FINISH" translate-value-name="{{stats.learned}}"></p>

    <div class="pj-singup">
      <p ng-if="user"><a href="/manage/books">{{'ACTIVATE_OTHER' | translate}}</a></p>
      <p ng-if="!user"><a ng-href="/singup">{{'SINGUP' | translate}}</a> {{'MANAGE_VOCABULARY' | translate}}</p>
    </div>
  </div>

</div>
