
<div class="row" ng-if="currentWord">
  <h3 class="hidden-xs">Dril</h3>
  <div slide-animation class="span6 content-box animated bounceInLeft">

    <div class="row span3 meta-info-box">
      <div class="col-xs-3">
        <span class="hidden-sm hidden-xs">Activated cards:</span>
        <span class="visible-sm-inline visible-xs-inline">Activated:</span>
        <strong>{{getCountOfActivated()}}</strong>
      </div>
      <div class="col-xs-3">
        <span class="hidden-sm hidden-xs">Learned cards:</span>
        <span class="visible-sm-inline visible-xs-inline">Learned:</span>
        <strong>{{stats.learned}}</strong>
      </div>
      <div class="col-xs-3">
        <span class="hidden-sm hidden-xs">Card was shown:</span>
        <span class="visible-sm-inline visible-xs-inline">Shown:</span>
        <strong>{{currentWord.viewed}}x</strong>
      </div>
      <div class="col-xs-3">
        <span class="hidden-sm hidden-xs">Card was shown:</span>
        <span class="visible-sm-inline visible-xs-inline">Shown:</span>
        <strong>{{currentWord.viewed}}x</strong>
      </div>
    </div>

      <div class="question-wrapp box">
          <div class="well">
            <tts tts-text="{{currentWord.question}}" tts-lang="{{currentWord.langQuestion}}"></tts>
            {{currentWord.question}}
            <button ng-if="user" class="btn btn-default" ng-click="edit()">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
      </div>

      <div class="input-wrapp">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">Answer:</span>
          <input type="text"
                 class="form-control"
                 placeholder="Write answer..."
                 ng-model="userAnswer.value"
                 ng-change="compare(userAnswer.value)"
                 ng-enter="showAnswer()"
                 focus="true"
                 ng-model-options="{debounce : 500}"
                 aria-describedby="sizing-addon1">
        </div>
      </div>

      <div class="wrapp">

        <div class="answer-wrapp box" ng-show="isAnswerShown">
          <div class="well">
            {{currentWord.answer}}
            <tts tts-text="{{currentWord.answer}}" tts-lang="{{currentWord.langAnswer}}"></tts>
          </div>
        </div>

        <button  class="btn get-answer-btn btn-primary" ng-hide="isAnswerShown" ng-click="showAnswer()">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Get an answer
        </button>

        <div class="row button-group dril-buttons" ng-show="isAnswerShown">
          <div class="col-xs-4">
              <button  class="btn btn-success" ng-click="rateWord(RATING.KNOW)" >
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span class="hidden-xs">I knew it!</span>
              </button>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-warning" ng-click="rateWord(RATING.NOT_YET)">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              <span class="hidden-xs">Not yet</span>
            </button>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-danger" ng-click="rateWord(RATING.DO_NOT_KNOW)">
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
              <span class="hidden-xs">Never seen it</span>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="text-center"  ng-if="!currentWord">
  <h2>Great!</h2>
  <div class="pj-dril-result">
    <span class="glyphicon glyphicon-ok"></span>
    <p class="pj-text">
      You've just extended your vocabulary of <strong>{{stats.learned}}</strong> words, keep going!
    </p>

  <div class="pj-singup">
    <p ng-if="user">Activate other words</p>
    <p ng-if="!user"><a ng-href="/singup">Sing up</a> and manage you own vocabulary!</p>
  </div>

  <div class="pj-share">
    Share your results <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
  </div>


  </div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1670552416508482";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</div>
