<div class="pj-header">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 pj-head">
              <strong class="bigger"> {{'HOME_H1' | translate}}</strong>
              <strong>&nbsp; {{'HOME_H2' | translate}}</strong>
        </div>
      </div>
      <div class="row">
        <ul class="col-md-8">
          <li>
            <span class="glyphicon glyphicon-menu-right"></span>
            Automatic text translations
          </li>
          <li>
            <span class="glyphicon glyphicon-menu-right"></span>
            Pronunciation
          </li>
          <li>
            <span class="glyphicon glyphicon-menu-right"></span>
            Manage your own vocabulary
          </li>
        </ul>
      </div>


      <div class="hidden-xs  pj-devices"></div>
  </div>
</div>

<section class="pj-feature">

    <a class="btn" href="/singup">
      {{'SINGUP' | translate}}
    </a>

  <div class="container-fluid">

    <div class="row-fluid">
      <div class="col-md-4">
        <span class="ico euro"></span>
        <h3 class="key-feature--title">{{"FEATURE1" | translate}}</h3>
        <div class="key-feature--text">
          {{'FEATURE1_DESC' | translate}}
        </div>
      </div>
      <div class="col-md-4">
        <span class="ico fast"></span>
        <div class="key-feature--icon--container">
          <div class="key-feature--icon icon icon-run-anywhere"></div>
        </div>
        <h3 class="key-feature--title">{{"FEATURE2" | translate}}</h3>
        <div class="key-feature--text">
          {{'FEATURE2_DESC' | translate}}
        </div>
      </div>
      <div class="col-md-4">
        <span class="ico ok"></span>
        <div class="key-feature--icon--container">
          <div class="key-feature--icon icon icon-rest-assured"></div>
        </div>
        <h3 class="key-feature--title">{{"FEATURE3" | translate}}</h3>
        <div class="key-feature--text">
          {{'FEATURE3_DESC' | translate}}
        </div>
      </div>
    </div>
  </div>
</section>
