<div class="billboard--container">
  <div class="container-fluid">
    <div class="icon icon-spring-logo-big homepage-icon"></div>
    <div class="homepage-title--container">

      <div class="homepage-subtitle--container desktop-only">
        <div class="homepage-subtitle">
          Spring helps development teams everywhere build simple, portable,
        </div>
        <div class="homepage-subtitle">
          fast and flexible JVM-based systems and applications.
        </div>
      </div>


    </div>
  </div>

</div>

<section class="key-feature--wrapper">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-4">

        <h3 class="key-feature--title">Lear from everywhere</h3>
        <div class="key-feature--text">
          Put of your pen and note and make your vocabulary available from every place from your laptop or mobile device.
        </div>
      </div>
      <div class="col-md-4">
        <div class="key-feature--icon--container">
          <div class="key-feature--icon icon icon-run-anywhere"></div>
        </div>
        <h3 class="key-feature--title">Learn fast</h3>
        <div class="key-feature--text">
          Learn a new vocabulary effectively and fast. This application use well-established method of repeating which helps you memorise your vocabulary really fast.
        </div>
      </div>
      <div class="col-md-4">
        <div class="key-feature--icon--container">
          <div class="key-feature--icon icon icon-rest-assured"></div>
        </div>
        <h3 class="key-feature--title">Rest Assured</h3>
        <div class="key-feature--text">
          Code with confidence &ndash; Spring provides an open programming model that is comprehensive, cohesive, widely understood and well-supported.
        </div>
      </div>
    </div>
  </div>
</section>
