<div class="modal-header">
  <h4 class="modal-title">Import words</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-3 col-xm-4 col-xs-5">
      <div class="btn btn-default"
           ngf-select
           ngf-change="save($files)"
        >Select File</div>
    </div>
    <div class="col-md-9 col-xm-8 col-xs-7">
      <div ng-if="progress" class="progress">
        <div class="
             progress-bar" role="progressbar"
             aria-valuenow="{{progress}}"
             ng-style="{'width' : progress + '%'}"
             aria-valuemin="0" aria-valuemax="100">
          {{progress}}%
        </div>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
