<div class="modal-header">
  <h4 class="modal-title">{{'M1_IMPORT' | translate}}</h4>
</div>
<div class="modal-body pj-import">
   <div class="row">
     <div class="col-md-12">
        <h3>{{'M1_NOTES' | translate}}</h3>
        <ul>
          <li translate="M1_NOTE1" translate-value-wordLimit="{{wordLimit}}" translate-value-count="{{lecture.words.length}}"></li>
          <li translate="M1_NOTE2"></li>
          <li translate="M1_NOTE3"></li>
          <li>{{'M1_NOTE4' | translate}}<a class="pj-contact">{{'M1_CONTACT' | translate}}</a></li>
        </ul>
     </div>
   </div>
  <div ng-if="error" class="alert alert-danger">
    {{error}}
  </div>
  <div class="row">
    <div class="col-md-3 col-xm-4 col-xs-5">
      <div class="btn btn-primary"
           ngf-select
           ngf-change="save($files)"
        >
        <span class="glyphicon glyphicon-hdd"></span>
        {{'M1_CHOSE' | translate}}
        </div>
    </div>
    <div class="col-md-9 col-xm-8 col-xs-7">
      <div ng-if="progress" class="progress">
        <div class="
             progress-bar" role="progressbar"
             aria-valuenow="{{progress}}"
             ng-style="{'width' : progress + '%'}"
             aria-valuemin="0" aria-valuemax="100">
          {{progress}}%
        </div>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">{{'CANCEL' | translate}}</button>
</div>
