<h1 class="text-center">Sign In</h1>
<h6 class="text-center">Enter your login details</h6>

<form class="pj-login" name="loginForm" ng-submit="login(loginForm.$valid , credentials)" novalidate>
  <div ng-if="activated" class="alert alert-success">
    <span class="glyphicon glyphicon-ok"></span>
    Your account has been activated.
  </div>
  <div ng-show="(loginForm.$submitted && !loginForm.$valid) || badCredentials"  class="alert alert-danger">
    <span class="glyphicon glyphicon-remove"></span>
    <span ng-if="badCredentials">Bad username or password.</span>
    <span ng-if="!badCredentials">All fields are required.</span>
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input class="form-control"
           type="text"
           id="username"
           ng-model="credentials.username"
           ng-minlength="5"
           required
           ng-trim="true">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input class="form-control"
           type="password"
           id="password"
           ng-model="credentials.password"
           ng-minlength="5"
           required
           ng-trim="true">
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-block btn-primary">Login</button>
  <span class="pj-loader" ng-if="isLoading">Please wait...</span>
  </div>
  <div class="form-group">
    <strong>
      <a href="#/singup">Create a free account</a>
    </strong>and manage your custom vocabulary!
  </div>
</form>
