<h1 class="text-center" translate="SINGIN"></h1>
<h6 class="text-center" translate="LOGIN_DSCR"></h6>

<form class="pj-login " name="loginForm" ng-submit="login(loginForm.$valid , credentials)" novalidate>
  <div ng-if="activated && !badCredentials" class="alert alert-success">
    <span class="glyphicon glyphicon-ok"></span>
    {{'ACCOUNT_ACTIVE' | translate}}
  </div>
  <div ng-show="(loginForm.$submitted && !loginForm.$valid) || badCredentials"  class="alert alert-danger">
    <span class="glyphicon glyphicon-remove"></span>
    <span ng-if="badCredentials">{{'ERR_CREDENTIALS' | translate}}</span>
    <span ng-if="!badCredentials">{{'ERR_ALL_REQUIRED' | translate}}</span>
  </div>
  <div class="form-group">
    <label for="username">{{'USERNAME' | translate}}:</label>
    <input class="form-control"
           type="text"
           id="username"
           ng-model="credentials.username"
           ng-minlength="5"
           required
           ng-trim="true">
  </div>

  <div class="form-group">
    <label for="password">{{'PASSWORD' | translate}}:</label>
    <input class="form-control"
           type="password"
           id="password"
           ng-model="credentials.password"
           ng-minlength="5"
           required
           ng-trim="true">
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-block btn-primary" translate="LOGIN"></button>
  <div class="pj-loader" ng-if="isLoading" translate="WAIT"></div>
  </div>
  <div class="form-group pj-border">
    <strong>
      <a href="/singup" translate="CREATE_ACCOUNT"></a>
    </strong>{{'CREATE_ACCOUNT_DESC' | translate}}
  </div>

</form>
<div class="margin-20"></div>
