

<div ng-if="isLoading" class="pj-loader-wrapp">
  <span class="pj-loader" translate="WAIT"></span>
</div>
<div ng-if="book" class="pj-book-detail">
  <h2>
    <a href="/books">
    <span class="glyphicon glyphicon-book"></span>
    &nbsp; {{book.name}}
    </a>
  </h2>

    <div class="pj-meta">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6">
            <span class="pj-key">{{'LANGS' | translate}}:</span>
            <span class="pj-val">{{book.question_lang_name}} / {{book.answer_lang_name}}</span>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <span class="pj-key">{{'LEVEL' | translate}}:</span>
            <span class="pj-val">{{book.level_name}}</span>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <span class="pj-key">{{'CATEGORY' | translate}}:</span>
            <span class="pj-val">{{book.category_name || 'Not categorized'}}</span>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <span class="pj-key">{{'AUTHOR' | translate}}:</span>
            <span class="pj-val">{{book.login}}</span>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-6">
            <span class="pj-key">{{'ADDED' | translate}}:</span>
            <span class="pj-val">{{book.created_timestamp | drilDate}}</span>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <span class="pj-key">{{'DOWNLOADED' | translate}}:</span>
            <span class="pj-val">{{book.downloaded}}x</span>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <span class="pj-key">{{'FAVORITED' | translate}}:</span>
            <span class="pj-val">{{book.favorited}}x</span>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
            <span class="pj-key">{{'NO_WORDS' | translate}}:</span>
            <span class="pj-val">{{book.no_of_words}}</span>
          </div>
        </div>

        <div class="row " ng-if="book.tags.length">
          <h3>{{'TAGS' | translate}}</h3>
          <ul class="col-md-12 pj-tags">
            <li ng-repeat="tag in book.tags">
              <span class="glyphicon glyphicon-tag"></span>
              {{tag.name}}
            </li>
          </ul>
        </div>

    </div>

    <h4>{{'LECTURES' | translate}} ({{book.lectures.length}})</h4>

    <table class="table table-striped pj-lectures">
      <tbody>
        <tr ng-repeat="lecture in book.lectures">
          <td class="pj-lecture-name col-md-6" ng-click="goToLecture(lecture.id)">
            <span class="glyphicon glyphicon-menu-right"></span>
            {{lecture.name}}
          </td>
          <td class="pj-count col-md-3 hidden-xs " ng-click="goToLecture(lecture.id)" >
            {{lecture.no_of_words}} {{'WORDS' | translate}}
          </td>
          <td class="pj-added col-md-3 hidden-xs hidden-sm" ng-click="goToLecture(lecture.id)">
            {{lecture.created_timestamp | drilDate}}
          </td>
          <td class="col-md-2 pj-options" ng-click="goToLecture(lecture.id)">
            <span class="pj-coll-top">
              {{'SHOW' | translate}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <div ng-if="!book.lectures.length" class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-alert"></span>
      {{'NO_LECTURE' | translate}}
    </div>

</div>

