
<h2 class="">Shared textbooks</h2>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>


<div ng-if="isLoading" class="pj-loader-wrapp">
  <span class="pj-loader">Loading...</span>
</div>
<div ng-if="!isLoading">
  <pj-pagination></pj-pagination>
  <table class="table table-striped pj-books">
    <thead>
    <tr>
      <th st-sort="name">Name</th>
      <th st-sort="lang">Languages</th>
      <th st-sort="level">Level</th>
      <th st-sort="added">Added</th>
      <th st-sort="author">Lectures (words)</th>
    </tr>
    </thead>
    <tbody ng-show="!isLoading">
    <tr ng-repeat="row in items">
      <td class="pj-book-name">
        {{row.name}}</td>
      <td>
        <span class="pj-coll-top">
          {{row.question_lang_name}}
        </span>
        <span class="pj-coll-bottom">
          {{row.answer_lang_name}}
        </span>
      </td>
      <td class="pj-level" >{{row.level_name}}</td>
      <td>{{row.created_timestamp | drilDate}} by {{row.login}}</td>
      <td>
        <span class="pj-coll-top">
         {{row.no_of_words}} words
        </span>
        <span class="pj-coll-bottom">
          {{row.no_of_lectures}} lecture
        </span>
      </td>
    </tr>
    </tbody>
  </table>
  <pj-pagination></pj-pagination>
</div>
