<h2 translate="ST"></h2>
<div class="row text-center hidden-xs hidden-ms pj-filter-head"><span class="col-md-12">Filter</span></div>
<form class="pj-filter">
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <select chosen
                class="form-control"
                ng-model="state.langQuestion"
                ng-change="changeFilter()"
                ng-options="language.id as language.name for language in languages">
          <option value="" translate="CHOSE_LANG1"></option>
        </select>
      </div>
      <div class="col-md-3 col-sm-6">
        <select chosen
                class="form-control"
                ng-model="state.langAnswer"
                ng-change="changeFilter()"
                ng-options="language.id as language.name for language in languages">
          <option value="" translate="CHOSE_LANG2"></option>
        </select>
      </div>
      <div class="col-md-3 col-sm-6">
        <select chosen
                class="form-control"
                ng-model="state.level"
                ng-change="changeFilter()"
                ng-options="level.id as level.name for level in levels" >
          <option value="" translate="CHOSE_LEVEL"></option>
        </select>
      </div>

      <div class="col-md-3 col-sm-6">
        <select chosen
                class="form-control"
                ng-options="cat.id as cat.name group by cat.catName for cat in categoryList"
                ng-model="state.category"
                ng-change="changeFilter()">
          <option value="" translate="CHOSE_CATEG"></option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input type="text"
             class="form-control pj-text-input"
             placeholder="{{'SEARCH' | translate}}"
             ng-model="state.query"
             ng-change="changeFilter()"
             ng-model-options="{debounce: 800}" />
    </div>

  </div>
</form>

<div ng-if="isLoading" class="pj-loader-wrapp">
  <span class="pj-loader" translate="LOADING"></span>
</div>

<div ng-hide="isLoading">
  <pj-pagination ng-if="!isLoading"></pj-pagination>

  <table class="table table-striped pj-books" ng-if="items.length">
    <thead>
    <tr>
      <th pj-sort="name">{{'SB_NAME' | translate}}</th>
      <th pj-sort="lang">{{'LANGS' | translate}}</th>
      <th class="hidden-xs hidden-sm" pj-sort="level">{{'LEVEL' | translate}}</th>
      <th class="hidden-xs" pj-sort="date">{{'ADDED' | translate}}</th>
      <th pj-sort="author">{{'CONTENT' | translate}}</th>
    </tr>
    </thead>
    <tbody ng-show="!isLoading">
    <tr ng-repeat="row in items" ng-click="goToBook(row.id)">
      <td class="pj-book-name col-md-5">
        {{row.name}}
      <forked book="row"></forked>
      </td>
      <td class="col-md-1">
        <span class="pj-coll-top">
          {{row.question_lang_name}}
        </span>
        <span class="pj-coll-bottom">
          {{row.answer_lang_name}}
        </span>
      </td>
      <td class="pj-level col-md-2 hidden-xs hidden-sm" >{{row.level_name}}</td>
      <td class="col-md-2 hidden-xs">
          <span class="pj-coll-top">
          {{row.created_timestamp | drilDate}}
          </span>
        <span class="pj-coll-bottom">
          {{row.login}}
        </span>
      </td>
      <td class="col-md-2">
        <span class="pj-coll-top">
         {{row.no_of_words}} {{'WORDS' | translate}}
        </span>
        <span class="pj-coll-bottom">
          {{row.no_of_lectures}} {{'LECTURES' | translate}}
        </span>
      </td>
    </tr>
    </tbody>
  </table>
  <pj-pagination ng-if="!isLoading"></pj-pagination>

  <div ng-if="!items.length" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-alert"></span>
    {{'NO_BOOKS' | translate}}
  </div>
</div>
