
<h2 class="">Shared textbooks</h2>
<form>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <select chosen class="form-control"
                ng-model="state.langAnswer"
                ng-change="renderBooks()"
                ng-options="language.id as language.name for language in languages">
          <option value="">Choose your language</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control"
                ng-model="state.langQuestion"
                ng-change="renderBooks()"
                ng-options="language.id as language.name for language in languages">
          <option value="">Choose your language</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control"
                ng-model="state.level"
                ng-change="renderBooks()"
                ng-options="level.id as level.name for level in levels" >
          <option value="">Choose level</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <select chosen class="form-control"
              ng-model="state.category"
              ng-change="renderBooks()">
        <option value="">Choose category</option>
        <optgroup ng-repeat="category in categories" label="{{category.name}}">
          <option ng-repeat='subCategory in category.subCategories' value="{{subCategory.id}}">{{subCategory.name}}</option>
        </optgroup>
      </select>
    </div>
  </div>
</form>


<div ng-if="isLoading" class="pj-loader-wrapp">
  <span class="pj-loader">Loading...</span>
</div>

<pj-pagination ng-if="!isLoading"></pj-pagination>

<div ng-hide="isLoading">
  <table class="table table-striped pj-books">
    <thead>
    <tr>
      <th pj-sort="name">Name</th>
      <th pj-sort="lang">Languages</th>
      <th pj-sort="level">Level</th>
      <th pj-sort="date">Added</th>
      <th pj-sort="author">Content</th>
    </tr>
    </thead>
    <tbody ng-show="!isLoading">
    <tr ng-repeat="row in items">
      <td class="pj-book-name col-md-5">
        {{row.name}}</td>
      <td col-md-1>
        <span class="pj-coll-top">
          {{row.question_lang_name}}
        </span>
        <span class="pj-coll-bottom">
          {{row.answer_lang_name}}
        </span>
      </td>
      <td class="pj-level col-md-2" >{{row.level_name}}</td>
      <td class="col-md-2">{{row.created_timestamp | drilDate}} by {{row.login}}</td>
      <td class="col-md-2">
        <span class="pj-coll-top">
         {{row.no_of_words}} words
        </span>
        <span class="pj-coll-bottom">
          {{row.no_of_lectures}} lecture
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
