

<div ng-if="isLoading" class="pj-loader-wrapp">
  <span class="pj-loader" translate="WAIT"></span>
</div>
<div ng-if="book" class="pj-word-detail">
  <h2>
    <a ng-href="/book/{{book.id}}" >
      <span class="glyphicon glyphicon-book"></span>
      &nbsp; {{book.name}}
    </a>
    <forked book="book"></forked>
  </h2>
  <h3 class="pj-lecture-name">
    <span class="glyphicon glyphicon-menu-right"></span>
    &nbsp; {{book.lecture.name}}
  </h3>

  <div class="pj-meta">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">{{'LANGS' | translate}}:</span>
        <span class="pj-val">{{book.question_lang_name}} / {{book.answer_lang_name}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">{{'LEVEL' | translate}}:</span>
        <span class="pj-val">{{book.level_name}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">{{'CATEGORY' | translate}}:</span>
        <span class="pj-val">{{book.category_name || 'Not categorized'}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">{{'AUTHOR' | translate}}:</span>
        <span class="pj-val">{{book.login}}</span>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">{{'ADDED' | translate}}:</span>
        <span class="pj-val">{{book.lecture.created_timestamp | drilDate}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">{{'DOWNLOADED' | translate}}:</span>
        <span class="pj-val">{{book.downloaded}}x</span>
      </div>
      <div tooltip="Type this number into Android Dril app and download this vocabulary" class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Import ID:</span>
        <span class="pj-val">{{book.lecture.id | importId}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">{{'NO_WORDS' | translate}}:</span>
        <span class="pj-val">{{book.lecture.words.length}}</span>
      </div>
    </div>

    <div class="row " ng-if="book.tags.length">
      <h3>{{'TAGS' | translate}}</h3>
      <ul class="col-md-12 pj-tags">
        <li ng-repeat="tag in book.tags">
          <span class="glyphicon glyphicon-tag"></span>
          {{tag.name}}
        </li>
      </ul>
    </div>

  </div>

  <table class="table table-striped pj-words">
    <thead>
      <tr>
        <th class="hidden-sm hidden-xs" >&nbsp;</th>
        <th translate="QUESTION_IN" translate-value-lang="{{book.question_lang_name}}"></th>
        <th translate="ANSWER_IN" translate-value-lang="{{book.answer_lang_name}}"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="word in book.lecture.words">
      <td class="pj-border-r text-center hidden-sm hidden-xs">
        {{$index + 1}}
      </td>
      <td class="col-md-6">
        {{word.question}}
      </td>
      <td class="col-md-6 pj-border-r">
        {{word.answer}}
      </td>
      <td>
        <button
          tooltip="Activate/deactivate"
          ng-click="toggleActivity(word)"
          ng-class="{'btn-success' : !word.isActivated, 'btn-warning' : word.isActivated }"
          class="btn btn-xs">
          <span
            ng-class="{'glyphicon-play' : !word.isActivated, 'glyphicon-minus-sign' : word.isActivated }"
            class="glyphicon "></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div ng-if="!book.lecture.words.length" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-alert"></span>
    {{'NO_WORD' | translate}}
  </div>

</div>
