<div ng-if="created">
  <h1 class="text-center">{{'ACTIVATE_ACCOUNT' | translate}}</h1>
  <h6 class="text-center">{{'ACCOUNT_CREATED' | translate}}</h6>
  <div class="alert text-center alert-success" role="alert">
    <span class="glyphicon glyphicon-ok"></span>
    <span translate="ACCOUNT_CREATED_DESC" translate-value-email="{{email}}"></span>
  </div>
</div>
<div ng-if="!created">
  <h1 class="text-center">{{'SINGUP' | translate}}</h1>
  <h6 class="text-center">{{'ENTER_DETAILS' | translate}}</h6>

  <form  class="pj-login" name="singup" ng-submit="createAccount(singup.$valid , user)" novalidate>

    <div class="form-group" ng-class="{'has-error' : (singup.$submitted || singup.login.$touched) && singup.login.$invalid }">
      <label for="login">{{'LOGIN' | translate}}:</label>
      <input class="form-control"
             type="text"
             ng-model="user.login"
             ng-minlength="5"
             ng-maxlength="30"
             required
             ng-model-options="{ debounce: 300 }"
             name="login"
             id="login"
             pj-unique="login"
             ng-trim="true">

      <p class="pj-loader-16"  ng-if="singup.login.$pending">
        {{'CHECKING' | translate}}
      </p>
      <div class="text-danger bg-danger"  ng-if="(singup.$submitted || singup.login.$touched) && singup.login.$invalid">
        <div ng-if="singup.login.$error.unique">{{'ERR_LOGIN_TAKEN' | translate}}</div>
        <div ng-if="singup.login.$error.required">{{'ERR_REQUIRED' | translate}}</div>
        <div ng-if="singup.login.$error.minlength || singup.login.$error.maxlength">{{'ERR_LOGIN_SIZE' | translate}}</div>
      </div>


    </div>

    <div class="form-group" ng-class="{'has-error' : (singup.$submitted || singup.email.$touched) && singup.email.$invalid }">
      <label for="email">{{'EMAIL' | translate}}:</label>
      <input class="form-control"
             type="email"
             id="email"
             ng-model="user.email"
             required
             name="email"
             ng-model-options="{ debounce: 300 }"
             pj-unique="email"
             tooltip="{{'WILL_BE_NOT_PUBLISHED' | translate }}"
             ng-trim="true">
      <p class="pj-loader-16"  ng-if="singup.email.$pending">
        {{'CHECKING' | translate}}
      </p>
      <div class="text-danger bg-danger"  ng-if="(singup.$submitted || singup.email.$touched) && singup.email.$invalid">
        <div ng-if="singup.email.$error.unique">{{'ERR_EMAIL_TAKEN' | translate}}</div>
        <div ng-if="singup.email.$error.required">{{'ERR_REQUIRED' | translate}}</div>
        <div ng-if="singup.email.$error.email">{{'ERR_INVALID_VAL' | translate}}</div>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error' : (singup.$submitted || singup.password.$touched) && singup.password.$invalid }">
      <label for="password">{{'PASSWORD' | translate}}:</label>
      <input class="form-control"
             type="password"
             id="password"
             ng-model="user.password"
             ng-minlength="6"
             required
             name="password"
             ng-trim="true">
      <div class="text-danger bg-danger"  ng-if="(singup.$submitted || singup.password.$touched) && singup.password.$invalid">
        <div ng-if="singup.password.$error.required">{{'ERR_REQUIRED' | translate}}</div>
        <div ng-if="singup.password.$error.minlength">{{'ERR_PASS_SIZE' | translate}}</div>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error' : (singup.$submitted || singup.password2.$touched) && singup.password2.$invalid }">
      <label for="password2">{{'PASSWORD_CONFIRM' | translate}}:</label>
      <input class="form-control"
             type="password"
             id="password2"
             ng-model="user.password2"
             required
             name="password2"
             tooltip="At least 6 characters"
             pj-match="user.password"
             ng-trim="true">
      <div class="text-danger bg-danger"  ng-if="(singup.$submitted || singup.password2.$touched) && singup.password2.$invalid">
        <div ng-if="singup.password2.$error.required">{{'ERR_REQUIRED' | translate}}</div>
        <div ng-if="singup.password2.$error.match">{{'ERR_PASS_CONFIRM' | translate}}</div>
      </div>
    </div>

    <div class="form-group chosen-white" ng-class="{'has-error' : (singup.$submitted || singup.lang.$touched) && singup.lang.$invalid }">
      <label tooltip="Your native language" for="language">{{'YOUR_LANG' | translate}}:</label>
      <select chosen
              class="form-control"
              id="language"
              ng-model="user.localeId"
              required
              name="lang"
              ng-options="lang.id as lang.name for lang in languages">
        <option value="">{{'CHOSE_LANG1' | translate}}</option>
      </select>
      <div class="text-danger bg-danger"  ng-if="(singup.$submitted || singup.lang.$touched) && singup.lang.$invalid">
        <div ng-if="singup.lang.$error.required">{{'ERR_REQUIRED' | translate}}</div>
      </div>
    </div>
    <div class="form-group chosen-white" ng-class="{'has-error' : (singup.$submitted || singup.targetLang.$touched) && singup.targetLang.$invalid }">
      <label tooltip="What would you like to learn" for="targetLang">{{'TARGET_LANG' | translate}}:</label>
      <select chosen
              class="form-control"
              id="targetLang"
              ng-model="user.targetLocaleId"
              required
              name="targetLang"
              ng-options="lang.id as lang.name for lang in languages">
        <option value="">{{'CHOSE_LANG2' | translate}}</option>
      </select>
      <div class="text-danger bg-danger"  ng-if="(singup.$submitted || singup.targetLang.$touched) && singup.targetLang.$invalid">
        <div ng-if="singup.targetLang.$error.required">{{'ERR_REQUIRED' | translate}}</div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error' : (singup.$submitted || singup.firstName.$touched) && singup.firstName.$invalid }">
      <label for="firstName">{{'YOUR_FIRST_NAME' | translate}}:</label>
      <input class="form-control"
             type="text"
             id="firstName"
             name="firstName"
             ng-model="user.firstName"
             ng-minlength="3"
             required
             ng-trim="true">
      <div class="text-danger bg-danger"  ng-if="(singup.$submitted || singup.firstName.$touched) && singup.firstName.$invalid">
        <div ng-if="singup.firstName.$error.required">{{'ERR_REQUIRED' | translate}}</div>
        <div ng-if="singup.firstName.$error.minlength">{{'ERR_INVALID_VAL' | translate}}</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">{{'YOUR_LAST_NAME' | translate}}:</label>
      <input class="form-control"
             type="text"
             id="lastName"
             ng-model="user.lastName"
             ng-minlength="3"
             required
             ng-trim="true">
      <div class="text-danger bg-danger"  ng-if="(singup.$submitted || singup.lastName.$touched) && singup.lastName.$invalid">
        <div ng-if="singup.lastName.$error.required">{{'ERR_REQUIRED' | translate}}</div>
        <div ng-if="singup.lastName.$error.minlength">{{'ERR_INVALID_VAL' | translate}}</div>
      </div>
    </div>


    <div class="form-group">
      <button type="submit" ng-class="{'disabled' : pending}" class="btn btn-block btn-primary">{{'CREATE_ACCOUNT' | translate}}</button>
      <div class="pj-loader" ng-if="pending">{{'CREATING' | translate}}</div>
    </div>
    <div class="form-group pj-border text-center">

      <strong><a href="/login">{{'SINGIN' | translate}}</a></strong>
      &nbsp; | &nbsp;

    </div>
  </form>
</div>
<div class="margin-20"></div>
