<h2>{{user.firstName}} {{user.lastName}}'s textbooks</h2>


<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">My textbooks</a>
        </li>
        <li>
          <a href="#/manage/book/create">Create textbook</a>
        </li>
        <li><a href="#/manage/settings">Settings</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Search..."
                 ng-model="state.query"
                 ng-change="changeFilter()"
                 ng-model-options="{debounce: 500}" />
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div ng-if="isLoading" class="pj-loader-wrapp">
  <span class="pj-loader">Loading...</span>
</div>

<div ng-hide="isLoading">
  <pj-pagination ng-if="!isLoading"></pj-pagination>

  <table class="table table-striped pj-books" ng-if="items.length">
    <thead>
    <tr>
      <th pj-sort="name">Name</th>
      <th pj-sort="lang">Languages</th>
      <th pj-sort="level">Level</th>
      <th pj-sort="date">Added</th>
      <th pj-sort="author">Content</th>
      <th class="text-center">Shared</th>
      <th class="text-center">Manage</th>
    </tr>
    </thead>
    <tbody ng-show="!isLoading">
    <tr ng-repeat="book in items">
      <td class="pj-book-name col-md-5" ng-click="goToBook(book.id)">
        {{book.name}}</td>
      <td class="col-md-1" ng-click="goToBook(book.id)">
        <span class="pj-coll-top">
          {{book.question_lang_name}}
        </span>
        <span class="pj-coll-bottom">
          {{book.answer_lang_name}}
        </span>
      </td>
      <td class="pj-level col-md-2" ng-click="goToBook(book.id)" >{{book.level_name}}</td>
      <td class="col-md-2 text-center">{{book.created_timestamp | drilDate}}</td>
      <td class="col-md-2" ng-click="goToBook(book.id)">
        <span class="pj-coll-top">
         {{book.no_of_words}} words
        </span>
        <span class="pj-coll-bottom">
          {{book.no_of_lectures}} lecture
        </span>
      </td>
      <td class="pj-is-shared text-center" ng-click="toggleActivation( book )">
        <span ng-if="book.is_shared" class="glyphicon glyphicon-ok-sign" title="The other people can see this book"></span>
        <span ng-if="!book.is_shared" class="glyphicon glyphicon-remove-sign" title="Only you have access to this book"></span>
      </td>
      <td class="text-center" ng-click="goToBook(book.id)">
        <button class="btn">
          <span class="glyphicon glyphicon-cog"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <pj-pagination ng-if="!isLoading"></pj-pagination>

  <div ng-if="!items.length" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-alert"></span>
    No book found
  </div>
</div>
