

<div ng-if="isLoading" class="pj-loader-wrapp">
  <span class="pj-loader">Loading...</span>
</div>
<div ng-if="book" class="pj-book-detail">
  <h2 ng-if="!editBook" >
    <span class="glyphicon glyphicon-book"></span>
    &nbsp;
    <a href="#/manage/books">
     {{book.name}}
    </a>
    <button
            tooltip="Edit this book"
            class="btn-warning pj-btn btn no-radius glyphicon glyphicon-pencil"
            ng-click="onEditBook()" ></button>
    <button ng-really-message="Are you sure that you want remove this book?"
            tooltip="Remove this book"
            class="btn-remove btn no-radius glyphicon glyphicon-remove"
            ng-really-click="onRemoveBook()" ></button>
  </h2>
  <h2 ng-if="editBook" class="pj-form">
    <span class="row">
        <span class="col-md-8 col-sm-9 col-xs-7">
        <input type="text" ng-model="editBook.name" class="form-control no-radius" />
      </span>
    </span>
  </h2>

  <div class="alert alert-danger" role="alert" ng-if="errors">
    <span class="glyphicon glyphicon-remove"></span>
    {{errors}}
  </div>

  <div class="pj-meta" ng-if="!!editBook">
    <div class="col-md-3 col-sm-4 col-xs-6">
      <label>Language of question</label>
      <select chosen
              ng-model="editBook.question_lang_id"
              ng-options="language.id as language.name for language in languages">
      </select>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <label>Language of answer</label>
      <select chosen
              ng-model="editBook.answer_lang_id"
              ng-options="language.id as language.name for language in languages">
      </select>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-6">
      <label>Level</label>
      <select chosen
              ng-model="editBook.level_id"
              ng-options="level.id as level.name for level in levels" >
      </select>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <label>Category</label>
      <select chosen
              ng-model="editBook.dril_category_id">
        <optgroup ng-repeat="category in categories" label="{{category.name}}">
          <option ng-repeat='subCategory in category.subCategories' value="{{subCategory.id}}">{{subCategory.name}}</option>
        </optgroup>
      </select>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 margin-20">
        <h3>Description</h3>
       <textarea
          class="form-control"
          ng-model="editBook.description"
          placeholder="Write description..."></textarea>
      </div>
    </div>
    <div class="row">
      <button title="Cancel"
              class="btn btn-default btn-lg"
              ng-click="cancelEditing()">
        Cancel</button>
      <button title="Save"
              ng-click="saveBook()"
              class="btn btn-warning pj-btn btn-lg">
        <span class="glyphicon glyphicon-floppy-disk "></span>
        Save
      </button>
    </div>


  </div>
  <div class="pj-meta" ng-if="!editBook">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Language:</span>
        <span class="pj-val">{{book.question_lang_name}} / {{book.answer_lang_name}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Level:</span>
        <span class="pj-val">{{book.level_name}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Category:</span>
        <span class="pj-val">{{book.category_name || 'Not categorized'}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Author:</span>
        <span class="pj-val">{{book.login}}</span>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Added:</span>
        <span class="pj-val">{{book.created_timestamp | drilDate}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Downloaded:</span>
        <span class="pj-val">{{book.downloaded}}x</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Marked as favorited:</span>
        <span class="pj-val">{{book.favorited}}x</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Number of words:</span>
        <span class="pj-val">{{book.no_of_words}}</span>
      </div>
    </div>

    <div class="row align-center" ng-if="book.description">
      <h3>Description</h3>
        {{book.description}}
    </div>

    <div class="row " ng-if="book.tags.length">
      <h3>Tags</h3>
      <ul class="col-md-12 pj-tags">
        <li ng-repeat="tag in book.tags">
          <span class="glyphicon glyphicon-tag"></span>
          {{tag.name}}
        </li>
      </ul>
    </div>

  </div>

  <h4>Lecutres ({{book.lectures.length}})</h4>

  <table class="table table-striped pj-lectures">
    <tbody>
    <tr ng-repeat="lecture in book.lectures">
      <td class="pj-lecture-name col-md-6" ng-click="goToLecture(lecture.id)">
        <span class="glyphicon glyphicon-menu-right"></span>
        {{lecture.name}}
      </td>
      <td class="pj-count col-md-3 text-center" ng-click="goToLecture(lecture.id)" >
        {{lecture.no_of_words}} words
      </td>
      <td class="pj-added col-md-3 text-center" ng-click="goToLecture(lecture.id)">
        {{lecture.created_timestamp | drilDate}}
      </td>
      <td class="col-md-2 pj-options">
        <button class="btn">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>

      </td>
    </tr>
    </tbody>
  </table>

  <div ng-if="!book.lectures.length" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-alert"></span>
    The textbook does not contain any lecture.
  </div>

      <div class="row margin-20" >
        <button class="btn btn-warning pj-btn " ng-click="showLectureForm()" ng-if="!lecture">
          <span class="glyphicon glyphicon-plus"></span>
          Add lecture
        </button>
      <div>
      <form ng-submit="saveLecture(lecture)" class="pj-lecture-form" ng-if="lecture" name="lectureForm" novalidate>
          <div class="alert alert-danger" ng-show="lectureForm.$submitted && !lectureForm.$valid">
            <span class="glyphicon glyphicon-remove"></span>
            Name of the lecture is required.
          </div>
          <div class="alert alert-danger" ng-show="lectureErrors">
            <span class="glyphicon glyphicon-remove"></span>
              {{lectureErrors}}
          </div>
         <div class="row">
           <div class="col-md-9 col-sm-9 col-xs-9">
             <input
               type="text"
               ng-model="lecture.name"
               class="form-control"
               min="1"
               required=""
               placeholder="Write name of the lecture..."
               max="150" />
           </div>
           <div class="col-md-3 col-sm-3 col-xs-3">
             <button ng-click="hideLectureForm()" class="btn btn-default ">Cancel</button>
             <button class="btn btn-warning pj-btn" type="submit">
               <span class="glyphicon glyphicon-floppy-disk"></span>
               &nbsp; Save
             </button>
           </div>
         </div>

      </form>
    </div>
  </div>
</div>

