

<div ng-if="isLoading" class="pj-loader-wrapp">
  <span class="pj-loader">Loading...</span>
</div>
<div ng-if="book" class="pj-word-detail">
  <h2>
    <a ng-href="/manage/book/{{book.id}}" >
      <span class="glyphicon glyphicon-book"></span>
      &nbsp; {{book.name}}
    </a>
    <button
      tooltip="Rename"
      class="btn-warning pj-btn btn no-radius glyphicon glyphicon-pencil"
      ng-click="onEditLecture()" ></button>
    <button ng-really-message="Are you sure that you want remove this lecture?"
            tooltip="Remove"
            class="btn-remove btn no-radius glyphicon glyphicon-remove"
            ng-really-click="remove(false)" ></button>
  </h2>
  <h3 class="pj-lecture-name">
    <span ng-if="!editLecture">
      <span class="glyphicon glyphicon-menu-right"></span>
      &nbsp; {{book.lecture.name}}
    </span>
    <form class="form-inline"  ng-if="editLecture">
      <input type="text" ng-model="book.lecture.name" class="form-control" />
      <button title="Save"
              ng-click="saveLecture()"
              class="btn btn-warning pj-btn glyphicon glyphicon-floppy-disk">
        Save
      </button>
      <button ng-click="onCancelEditLecture()" class="btn btn-default">Cancel</button>
    </form>
  </h3>

  <div class="pj-meta">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Language:</span>
        <span class="pj-val">{{book.question_lang_name}} / {{book.answer_lang_name}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Level:</span>
        <span class="pj-val">{{book.level_name}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Category:</span>
        <span class="pj-val">{{book.category_name || 'Not categorized'}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Author:</span>
        <span class="pj-val">{{book.login}}</span>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Added:</span>
        <span class="pj-val">{{book.lecture.created_timestamp | drilDate}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Downloaded:</span>
        <span class="pj-val">{{book.downloaded}}x</span>
      </div>
      <div tooltip="Type this number into Android Dril app and download this vocabulary" class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Import ID:</span>
        <span class="pj-val">{{book.lecture.id | importId}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Number of words:</span>
        <span class="pj-val">{{book.lecture.words.length}}/{{wordLimit}}</span>
      </div>
    </div>

  </div>

  <div class="row pj-word-nav ">
    <ul class="nav nav-pills">
      <li role="presentation">
        <a ng-click="importFile()" >
          <span class="glyphicon glyphicon-folder-open"></span>
          &nbsp; Excel import
        </a>
      </li>
      <li role="presentation">
        <a ng-click="toggleLectureActivity(true)" >
          <span class="glyphicon glyphicon-play"></span>
          &nbsp; Activate all
        </a>
      </li>
      <li role="presentation">
        <a ng-click="toggleLectureActivity(false)" >
          <span class="glyphicon glyphicon-stop"></span>
          &nbsp; Deactivate all
        </a>
      </li>
      <li role="presentation">
        <a ng-really-message="Are you sure that you want remove all words in this lecture?"
           ng-really-click="remove(true)" >
          <span class="glyphicon glyphicon-remove"></span>
          &nbsp; Remove all
        </a>



    </ul>

  </div>

  <table class="table table-striped pj-words">
    <thead>
    <tr>
      <th class="pj-no hidden-sm hidden-xs" >&nbsp;</th>
      <th>Question in {{book.question_lang_name}}</th>
      <th>Answer in {{book.answer_lang_name}}</th>
      <th class="pj-action"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="word in book.lecture.words">
      <td class="pj-no pj-border-r text-center hidden-sm hidden-xs">
        {{$index + 1}}
      </td>
      <td class="col-md-5 col-sm-5 col-xs-5">
        {{word.question}}
      </td>
      <td class="col-md-5 col-sm-5 col-xs-5">
        {{word.answer}}
      </td>
      <td class="pj-nav col-md-2 col-sm-2 col-xs-2">
        <button
          tooltip="Activate/deactivate"
          ng-click="toggleActivity(word)"
          ng-class="{'btn-success' : !word.isActivated, 'btn-warning' : word.isActivated }"
          class="btn btn-xs">
          <span
            ng-class="{'glyphicon-play' : !word.isActivated, 'glyphicon-minus-sign' : word.isActivated }"
            class="glyphicon "></span>
        </button>
        <button
          tooltip="Edit"
          ng-click="edit(word)"
          class="btn btn-xs btn-primary">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button
          tooltip="Remove"
          class="btn btn-danger btn-xs"
          ng-really-message="Are you sure that you want remove this book?"
          ng-really-click="removeWord(word)"
          >
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div ng-if="!book.lecture.words.length" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-alert"></span>
    The lecture does not contain any word.
  </div>

      <form ng-submit="saveLecture(lecture)" class="pj-word-form" ng-if="word && book.lecture.words.length < wordLimit" name="wordForm" novalidate>
          <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
              <pj-translate
                ng-model="word.question"
                translate-val="{{word.answer}}"
                translate-from="{{book.answer_lang_code}}"
                translate-to="{{book.question_lang_code}}"></pj-translate>
              <input
                type="text"
                ng-model="word.question"
                class="form-control"
                min="1"
                required=""
                placeholder="Question in {{book.question_lang_name}}"
              max="200" />
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">

              <pj-translate
                ng-model="word.answer"
                translate-val="{{word.question}}"
                translate-from="{{book.question_lang_code}}"
                translate-to="{{book.answer_lang_code}}"></pj-translate>
              <input
                type="text"
                ng-model="word.answer"
                class="form-control"
                min="1"
                required=""
                placeholder="Answer in {{book.answer_lang_name}}"
                max="200" />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 text-center">
              <button ng-click="add()" class="btn btn-warning pj-btn btn-block" type="submit">
                <span ng-if="!adding">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  Add
                  </span>
                </span>
                <span ng-if="adding">
                  <span class="glyphicon pj-loader-min"></span>
                   saving..
                </span>
              </button>
            </div>

          </div>
      </form>
</div>

