

<div ng-if="isLoading" class="pj-loader-wrapp">
  <span class="pj-loader">Loading...</span>
</div>
<div ng-if="book" class="pj-word-detail">
  <h2>
    <a ng-href="#/book/{{book.id}}" >
      <span class="glyphicon glyphicon-book"></span>
      &nbsp; {{book.name}}
    </a>
  </h2>
  <h3 class="pj-lecture-name">
    <span class="glyphicon glyphicon-menu-right"></span>
    &nbsp; {{book.lecture.name}}
  </h3>

  <div class="pj-meta">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Language:</span>
        <span class="pj-val">{{book.question_lang_name}} / {{book.answer_lang_name}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Level:</span>
        <span class="pj-val">{{book.level_name}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Category:</span>
        <span class="pj-val">{{book.category_name || 'Not categorized'}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Author:</span>
        <span class="pj-val">{{book.login}}</span>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Added:</span>
        <span class="pj-val">{{book.lecture.created_timestamp | drilDate}}</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Downloaded:</span>
        <span class="pj-val">{{book.downloaded}}x</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Marked as favorited:</span>
        <span class="pj-val">{{book.favorited}}x</span>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <span class="pj-key">Number of words:</span>
        <span class="pj-val">{{book.lecture.words.length}}</span>
      </div>
    </div>


  </div>

  <table class="table table-striped pj-words">
    <thead>
    <tr>
      <th>Question in {{book.question_lang_name}}</th>
      <th>Answer in {{book.answer_lang_name}}</th>
      <th class="pj-action"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="word in book.lecture.words">
      <td class="col-md-5">
        <span
          inline-edit="word.question"
          inline-edit-callback="saveWord(newValue, word, 'q')"
          inline-edit-btn-edit="Edit"
          inline-edit-btn-save="Save"
          inline-edit-validation="validate(newValue)"
          ></span>
      </td>
      <td class="col-md-5">
         <span
           inline-edit="word.answer"
           inline-edit-callback="saveWord(newValue, word, 'a')"
           inline-edit-btn-edit="Edit"
           inline-edit-btn-save="Save"
           inline-edit-validation="validate(newValue)"
           ></span>
      </td>
      <td class="col-md-1 pj-nav">
        <drilWord word="word"></drilWord>
        <button class="btn btn-danger btn-xs"
                ng-really-message="Are you sure that you want remove this book?"
                ng-really-click="removeWord(word)"
          >
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div ng-if="!book.lecture.words.length" class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-alert"></span>
    The lecture does not contain any word.
  </div>

      <form ng-submit="saveLecture(lecture)" class="pj-word-form" ng-if="word" name="wordForm" novalidate>
          <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
              <translate
                update-model="word.question"
                translate-val="{{word.answer}}"
                translate-from="{{book.answer_lang_code}}"
                translate-to="{{book.question_lang_code}}"></translate>
              <input
                type="text"
                ng-model="word.question"
                class="form-control"
                min="1"
                required=""
                placeholder="Question in {{book.question_lang_name}}"
              max="200" />
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">

              <translate
                update-model="word.answer"
                translate-val="{{word.question}}"
                translate-from="{{book.question_lang_code}}"
                translate-to="{{book.answer_lang_code}}"></translate>
              <input
                type="text"
                ng-model="word.answer"
                class="form-control"
                min="1"
                required=""
                placeholder="Answer in {{book.answer_lang_name}}"
                max="200" />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 text-center">
              <button ng-click="add()" class="btn btn-warning pj-btn btn-block" type="submit">
                <span ng-if="!adding">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  Add
                  </span>
                </span>
                <span ng-if="adding">
                  <span class="glyphicon pj-loader-min"></span>
                   saving..
                </span>
              </button>
            </div>
          </div>
      </form>
</div>

