<h2>{{'BOOK_CREATE' | translate}}</h2>


<form class="pj-form-big pj-add-book"  name="b" ng-submit="create(b.$valid , book)" novalidate>
  <div class="form-group" ng-class="{'has-error' : (b.$submitted || b.login.$touched) && b.name.$invalid }">
    <label for="name">{{'BOOK_TITLE' | translate}}:</label>
    <input class="form-control"
           type="text"
           ng-model="book.name"
           ng-minlength="8"
           ng-maxlength="200"
           name="name"
           id="name"
           ng-trim="true">
    <div class="text-danger bg-danger"  ng-if="(b.$submitted || b.name.$touched) && b.name.$invalid">
      <div ng-if="b.name.$error.maxlength">{{'ERR_BOOK_SIZE_MAX' | translate}}</div>
      <div ng-if="b.name.$error.minlength">{{'ERR_BOOK_SIZE_MIN' | translate}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="form-group chosen-white" ng-class="{'has-error' : (b.$submitted || b.lang1.$touched) && b.lang1.$invalid }">
        <label for="lang1">{{'LANG_QUESTION' | translate}}:</label>
        <select chosen
                class="form-control"
                id="lang1"
                ng-model="book.question_lang_id"
                required
                name="lang1"
                ng-options="lang.id as lang.name for lang in languages">
          <option value="">{{'CHOSE_LANG' | translate}}</option>
        </select>
        <div class="text-danger bg-danger"  ng-if="(b.$submitted || b.lang1.$touched) && b.lang1.$invalid">
          <div ng-if="b.lang1.$error.required">{{'ERR_REQUIRED' | translate}}</div>
        </div>
      </div>
    </div>

    <div class="col-md-6  col-sm-6">
      <div class="form-group chosen-white" ng-class="{'has-error' : (b.$submitted || b.lang2.$touched) && b.lang2.$invalid }">
        <label for="lang1">{{'LANG_ANSWER' | translate}}:</label>
        <select chosen
                class="form-control"
                id="lang2"
                ng-model="book.answer_lang_id"
                required
                name="lang2"
                ng-options="lang.id as lang.name for lang in languages">
          <option value="">{{'CHOSE_LANG' | translate}}</option>
        </select>
        <div class="text-danger bg-danger"  ng-if="(b.$submitted || b.lang2.$touched) && b.lang2.$invalid">
          <div ng-if="b.lang2.$error.required">{{'ERR_REQUIRED' | translate}}</div>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="form-group chosen-white" ng-class="{'has-error' : (b.$submitted || b.lang1.$touched) && b.lang1.$invalid }">
        <label for="level">{{'CHOSE_LEVEL' | translate}}:</label>
        <select chosen
                class="form-control"
                id="level"
                ng-model="book.level_id"
                required
                name="level"
                ng-options="level.id as level.name for level in levels">
          <option value="">{{'CHOSE_LEVEL' | translate}}</option>
        </select>
        <div class="text-danger bg-danger"  ng-if="(b.$submitted || b.level.$touched) && b.level.$invalid">
          <div ng-if="b.level.$error.required">{{'ERR_REQUIRED' | translate}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group chosen-white" ng-class="{'has-error' : (b.$submitted || b.category.$touched) && b.category.$invalid }">
        <label for="category">{{'CHOSE_CATEG' | translate}}:</label>
        <a href="#" class="pj-contact">{{'SUGGEST_NEW' | translate}}</a>
        <select chosen
                class="form-control"
                id="category"
                ng-model="book.category_id"
                required
                name="category"
                ng-options="cat.id as cat.name group by cat.catName for cat in categoryList">
          <option value="">{{'CHOSE_CATEG' | translate}}</option>
        </select>
        <div class="text-danger bg-danger"  ng-if="(b.$submitted || b.category.$touched) && b.category.$invalid">
          <div ng-if="b.category.$error.required">{{'ERR_REQUIRED' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <textarea
      ng-model="book.description"
      placeholder="{{'WRITE_DESCR' | translate}}"
      ng-maxlength="250"
      name="description"
      class="form-control"
      rows="2"
      ></textarea>
  </div>
  <div class="form-group">
      <label for="isShared">
         {{'SHARE_BOOK' | translate}}:
        <input id="isShared" type="checkbox" ng-model="book.isShared"  />
      </label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary btn-lg">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      {{'SAVE' | translate}}</button>
    <span class="pj-loader" ng-if="isLoading">{{'WAIT' | translate}}</span>
  </div>

</form>
